div.phpdebugbar {
    background: #0b0b0b;
    color: #aaa;
}
a.phpdebugbar-tab span.phpdebugbar-badge,
div.phpdebugbar-header {
    background: #1b1b1b;
}
div.phpdebugbar-header > div > * {
    color: #888;
}
dl.phpdebugbar-widgets-kvlist dt, dl.phpdebugbar-widgets-kvlist dd{
    border-top: 1px solid #444;
}
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar a.phpdebugbar-widgets-filter,
a.phpdebugbar-tab.phpdebugbar-active{
    color: #eee;
    background: #0d6cab;
}
span.phpdebugbar-indicator,
a.phpdebugbar-indicator,
a.phpdebugbar-close-btn {
    border-right: 1px solid #777;
}
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar input,
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar{
    background-color: #333;
    color: #aaa;
}
div.phpdebugbar-closed, div.phpdebugbar-minimized,
div.phpdebugbar-body{
    border-top: 1px solid #777;
}
ul.phpdebugbar-widgets-timeline .phpdebugbar-widgets-measure{
    border-bottom: none;
}
ul.phpdebugbar-widgets-list li.phpdebugbar-widgets-list-item,
ul.phpdebugbar-widgets-timeline li,
div.phpdebugbar-resize-handle{
    border-bottom: 1px solid #777;
}
ul.phpdebugbar-widgets-timeline li:hover,
ul.phpdebugbar-widgets-list li.phpdebugbar-widgets-list-item:hover{
    background-color: #282828;
}
.phpdebugbar-widgets-success{
    color: #279328;
}
.phpdebugbar-widgets-info{
    color: #0d92d3;
}
div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-success:before{
    color: #279328;
    content: "\f164";
    font-family: FontAwesome;
    font-size: 11px;
    margin-right: 8px;
}
div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-info:before{
    color: #0d92d3;
    content: "\f05a";
    font-family: FontAwesome;
    font-size: 11px;
    margin-right: 8px;
}
a.phpdebugbar-tab span.phpdebugbar-badge,
ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-label{
    color: #aaa;
}
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status,
.hljs{
    color: #666;
}
a.phpdebugbar-tab span.phpdebugbar-badge{
    border: 1px solid #aaa;
    padding: 2px 6px;
    border-radius: 6px;
}
