div.phpdebugbar {
    background: #0b0b0b;
    color: #aaa;
}
div.phpdebugbar-header {
    background: #1b1b1b;
}
div.phpdebugbar-header > div > * {
    color: #888;
}
dl.phpdebugbar-widgets-kvlist dt, dl.phpdebugbar-widgets-kvlist dd{
    border-top: 1px solid #444;
}
div.phpdebugbar-body{
    border-top: 1px solid #777;
}
a.phpdebugbar-tab.phpdebugbar-active{
    background: #aaa;
    color: #eee;
    background-image: linear-gradient(bottom, rgb(47, 47, 47) 41%, rgb(105, 105, 105) 71%);
    background-image: -o-linear-gradient(bottom, rgb(47, 47, 47) 41%, rgb(105, 105, 105) 71%);
    background-image: -moz-linear-gradient(bottom, rgb(47, 47, 47) 41%, rgb(105, 105, 105) 71%);
    background-image: -webkit-linear-gradient(bottom, rgb(47, 47, 47) 41%, rgb(105, 105, 105) 71%);
    background-image: -ms-linear-gradient(bottom, rgb(47, 47, 47) 41%, rgb(105, 105, 105) 71%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.41, rgb(47, 47, 47)), color-stop(0.71, rgb(105, 105, 105)));
}
div.phpdebugbar-resize-handle{
    border-bottom: 1px solid #777;
}
span.phpdebugbar-indicator,
a.phpdebugbar-indicator,
a.phpdebugbar-close-btn {
    border-right: 1px solid #777;
}
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar input,
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar{
    background-color: #333;
    color: #aaa;
}
div.phpdebugbar-closed, div.phpdebugbar-minimized{
    border-top: 1px solid #777;
}
ul.phpdebugbar-widgets-list li.phpdebugbar-widgets-list-item{
    border-bottom: 1px solid #777;
}
ul.phpdebugbar-widgets-list li.phpdebugbar-widgets-list-item:hover{
    background-color: #444;
}
.phpdebugbar-widgets-success{
    color: #279328;
}
.phpdebugbar-widgets-info{
    color: #326c93;
}
div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-success:before{
    color: #279328;
    content: "\f164";
    font-family: FontAwesome;
    font-size: 11px;
    margin-right: 8px;
}
div.phpdebugbar-widgets-messages li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-value.phpdebugbar-widgets-info:before{
    color: #326c93;
    content: "\f05a";
    font-family: FontAwesome;
    font-size: 11px;
    margin-right: 8px;
}
